.header{
    height: 85VH;
    margin: 0 auto;
    background: url('../../assets/pizza2.png');
    background-size: cover;
    position: relative;
    filter: brightness(50%);
}
.header-content{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.5vw;
    max-width: 50%;
    bottom: 10%;
    left: 6vw;
    animation:  fadeIn 5s;
}
.header-content h2{
    font-weight: 800;
    color: rgb(255, 255, 255);
    font-size: max(4.5vw, 22px);
}
.header-content p{
    color: wheat;
    font-size: 1.6vw;
}
.header-content button{
    border: none;
    color: #5a5454;
    padding: 1vw 2.3vw;
    background: #fff;
    font-size: max(1vw, 13px);
    border-radius: 50px;
}